<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home Page Optometrist</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<body>
  <h1>Home Page Optometrist</h1>
  <p style="color:Red;">This website puts glasses on any profile photos found in another person's home page.</p>
  <p>This website validates the URL entered, checks if the URL entered is not one of the popular social websites
      and serves copy of the orginal home page to the user with glasses added to the profile photo</p>
  <p>Please start with http:// or https:// for example http://www.yahoo.com</p>
  <p>
    <form method="GET" action="{{ url_for("view_page") }}" >
        Enter URL:<br> <br>
        <input type="text" name="url" size="40"> <br> <br>
        <input type="submit" value="Submit">
    </form>
  </p>
</body>
</html>
